@font-face {
    font-family: "Madina";
    src: url('../fonts/Madina.otf');
}

@font-face {
    font-family: "ArimaMadurai";
    src: url("../fonts/ArimaMadurai-Regular.ttf");
}

* {
    font-family: "ArimaMadurai";
    margin: 0;
    padding: 0;
}


.titleSection{
    background-color: #6B9ED1;
    position: relative;
    height: 50vh;

}
.voteViewTitle{
    padding-top: 18%;
    font-size: 3em !important;
    font-family: "Madina";
    text-align: center;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.voteViewDesc{
    text-align: center;
   padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.voteSection {
    margin: 10%;
    display: flex;
    justify-content: center;
}